#tBodyPrivilege{
    background-color: rgba(178, 169, 202, 0.76);
}

/* .button{
    border-radius: 5px;
    background-color: rgba(203, 199, 212, 0.76);
    font-weight: bold;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 60px;
} */

/* .button:hover{
    background-color: whitesmoke;
    color: rgb(59, 0, 114);
} */
