<!DOCTYPE html>
<html lang="en">

<head th:replace="~{header :: headerFragment}"></head>

<head>
    <script src="chart/chart.js"></script>

</head>

<body>
    <div class="wrapper">

        <!-- Navbar & Sidebar Start -->
        <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
        <!-- Navbar & sidebar End -->

        <div class="main">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <div id="pageTitle"> Customer Report </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-3"></div>
                <div class="col-6">
                    <input type="date" class="form-control" id="dateStartDate">
                    <input type="date" class="form-control" id="dateEndDate">
                    <select class="form-select" id="selectType">
                        <option value="" disabled selected>Select Type</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                    <button class="button fw-bold" type="button" onclick="generateReport()">
                        <i class="fa-solid fa-print icon"></i><br>Generate</button>
                    <button class="button fw-bold" id="btnprint" type="button" onclick="printChart()">
                        <i class="fa-solid fa-print icon"></i><br>Print Chart</button>
                </div>
                <div class="col-3"></div>
            </div>

            <div class="row mt-2">
                <div class="col-1"></div>
                <div class="col-5">
                    <table class="table tablet table-bordered">

                    </table>
                </div>
                <div class="col-5">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
    </div>
    <script src="uIControllers/customerReport.js"></script>
</body>

<body th:replace="~{footer :: footerFragment}"></body>

</html>