<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIT Project 2024 | Dashboard </title>
    <!-- link image -->
    <link rel="icon" href="images/Bando.png">
    <!-- link css -->
    <link rel="stylesheet" href="css/dashboard.css">
    <!-- link bs5 css -->
    <link rel="stylesheet" href="bootstrap-5.2.3/css/bootstrap.min.css">
    <!-- link bs5 js files -->
    <script src="bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <!-- link jquery file-->
    <script src="jquery-3.7.1.min.js"></script>
    <!-- link icon files -->
    <link rel="stylesheet" href="fontawesome-free-6.6.0-web/css/all.min.css">
</head>

<body>
    <div class="container-fluid p-0">
        <img src="images/rest1.webp" class="bodyimg">

        <!-- Start Dashboard head -->
        <div class="wrapper">

            <aside th:replace="~{sidebar :: sidebarFragment}"></aside>

            <!--Start Dashboard body -->
            <div class="main" id="dashboardItems">
                <!-- ORDER UI START -->
                <h3>Bando offers</h3>
                <p class="pagecontent">The Best Tasting Experience</p>

                <div class="justify-content-md-center d-flex mb-4">
                    <h4 class="text-center d-grid txtorder">Make a Order</h4>
                </div>

                <div class="">
                    <div class="col">
                        <!-- status ekata anuwa orders tika check kregnnaa -->
                        <ul class="d-flex justify-content-md-center">
                            <li class="btn btnOrderTyp" id="btnDinein" role="button">
                                <a aria-current="page" class="p-3" href="/orderDinein">
                                    <span>Dine-In</span>
                                </a>
                            </li>
                            <li class="btn btnOrderTyp" id="btnTakaway" role="button">
                                <a aria-current="page" class="p-3" href="/orderTakeaway">
                                    <span>Take Away</span>
                                </a>
                            </li>
                            <li class="btn btnOrderTyp" id="btndelivery" role="button">
                                <a aria-current="page" class="p-3" href="/orderDelivery">
                                    <span>Delivery</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ORDER UI END -->

                <!-- START DASHBOARD VIEW -->
                <div class="row d-flex d-flex justify-content-evenly mt-5">
                    <!-- d-grid : to collapse by clicking anywhere in the button -->
                    <!-- <div class="d-grid text-center col-2 viewDashboard" id="btncustomer">
                        <a class="btn btn-outline btn-lg" href="/customer" type="button" role="button">
                            CUSTOMER
                        </a>
                    </div>
                    <div class="d-grid text-center col-2 viewDashboard">
                        <a class="btn btn-outline btn-lg" href="/supplier" type="button" role="button">
                            SUPLLIER
                        </a>
                    </div>
                    <div class="d-grid text-center col-2 viewDashboard">
                        <a class="btn btn-outline btn-lg" href="/submenu" type="button" role="button">
                            SUBMENU
                        </a>
                    </div>
                    <div class="d-grid text-center col-2 viewDashboard">
                        <a class="btn btn-outline btn-lg" href="/menuitems" type="button" role="button">
                            MENU ITEMS
                        </a>
                    </div>
                    <div class="d-grid text-center col-2 viewDashboard">
                        <a class="btn btn-outline btn-lg" href="/ingredient" type="button" role="button">
                            INGREDIENT
                        </a>
                    </div> -->
                </div>
            </div>
            <!-- End Dashboard body -->

        </div>
        <!-- End Dashboard head  -->
    </div>

    <script src="uIControllers/dashboard.js"></script>
</body>

</html>