<!DOCTYPE html>
<html lang="en">

<head th:replace="~{header :: headerFragment}"></head>

<body>
    <div class="container-fluid p-0">
        <img src="images/rest1.webp" class="bodyimg">

        <!-- Start Dashboard head -->
        <div class="wrapper">

            <aside th:replace="~{sidebar :: sidebarFragment}"></aside>

            <!--Start Dashboard body -->
            <div class="main" id="dashboardItems">
                <!-- ORDER UI START -->
                <h3 class="mb-0">Bando offers</h3>
                <p class="pagecontent mb-0">The Best Tasting Experience</p>

                <div class="justify-content-md-center d-flex mb-3">
                    <h4 class="text-center d-grid txtorder">Make a Order</h4>
                </div>

                <div class="">
                    <div class="col">
                        <!-- status ekata anuwa orders tika check kregnnaa -->
                        <ul class="d-flex justify-content-md-center">
                            <li class="btn btnOrderTyp" id="btnDinein" role="button">
                                <a aria-current="page" class="p-3" href="/orderDinein">
                                    <span>Dine-In</span>
                                </a>
                            </li>
                            <li class="btn btnOrderTyp" id="btnTakaway" role="button">
                                <a aria-current="page" class="p-3" href="/orderTakeaway">
                                    <span>Take Away</span>
                                </a>
                            </li>
                            <li class="btn btnOrderTyp" id="btndelivery" role="button">
                                <a aria-current="page" class="p-3" href="/orderDelivery">
                                    <span>Delivery</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ORDER UI END -->

                <!-- START DASHBOARD VIEW -->
                <div class="row d-flex justify-content-evenly mt-3 p-3">
                    <div class="col justify-content-md-center">
                        <div class="card viewDashboard">
                            <div class="card-body ms-3 me-3">
                                <div class="row">
                                    <p class="col card-text"> Sales Summary </p>
                                    <span class="col-1 text-end"><i class="fa-solid fa-arrow-trend-up"></i></span>
                                </div>
                                <h4 class="card-title" id="txtSaleSummary"></h4>
                                <p class="card-text text-end"><small>Weekly</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-md-center">
                        <div class="card viewDashboard">
                            <div class="card-body ms-3 me-3">
                                <div class="row">
                                    <p class="col card-text">Number of Orders</p>
                                    <span class="col-1 text-end"><i class="fa-solid fa-dolly"></i></span>
                                </div>
                                <h4 class="card-title" id="txtOrderSummary"></h4>
                                <p class="card-text text-end"><small>Weekly</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-md-center">
                        <div class="card viewDashboard">
                            <div class="card-body ms-3 me-3">
                                <div class="row">
                                    <p class="col card-text">Supplier Payment</p>
                                    <span class="col-1 text-end"><i class="fa-solid fa-money-bill-transfer"></i></span>
                                </div>
                                <h4 class="card-title" id="txtSupplierPayments"></h4>
                                <p class="card-text text-end"><small>Monthly</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-md-center">
                        <div class="card viewDashboard">
                            <div class="card-body ms-3 me-3">
                                <div class="row">
                                    <p class="col card-text">New Customer Registrations</p>
                                    <span class="col-1 text-end"><i class="fa-solid fa-crown"></i></span>
                                </div>
                                <h4 class="card-title" id="txtCustomerRegister"></h4>
                                <p class="card-text text-end"><small>Annual</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Dashboard View -->

                <!-- Start Chart View -->
                <div class="row p-3 ">
                    <div class="col-6 justify-content-md-center">
                        <div class="card viewDashboard">
                            <div class="card-body">
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify-content-md-center">
                        <div class="card viewDashboard">
                            <div class="card-body">
                                <canvas id="doughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Chart View -->

            </div>
            <!-- End Dashboard head  -->
        </div>

        <script>
            window.addEventListener("load", () => {
                moduleList = getServiceRequest("/modulewithoutuserprivi");
                for (const module of moduleList) {
                    $(`.${module.name}`).css("display", "none");
                }
                $(`.${viewDashboard}`).css("display", "none");

            })
        </script>
        <script src="uIControllers/dashboard.js"></script>
        <script src="scripts/common.js"></script>
</body>

</html>