<!DOCTYPE html>
<html lang="en">

<head th:replace="~{header :: headerFragment}"></head>

<body>
    <div class="wrapper">
        <!-- Navbar & Sidebar Start -->
        <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
        <!-- Navbar & sidebar End -->

        <div class="main">
            <div class="modal" id="modalUserProfile">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container">
                                <h4 class="modal-title" id="modalUserProfileLabel">Edit User Profile</h4>
                            </div>
                            <button type="button" class="btn-close"
                                onclick="window.location.href='/dashboard'"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <!-- Start Form -->
                                    <div class="card m-1">
                                        <div class="card-body crdbdy">
                                            <form id="formUser">
                                                <!-- Start User Photo -->
                                                <div class="row mt-2">
                                                    <label for="imgPreviewUser"
                                                        class="form-label col-4 fw-bold">Employee
                                                        Photo
                                                    </label>
                                                    <div class="col-5">
                                                        <!-- hidden input -->
                                                        <input type="file" id="imgUser" accept="image/*"
                                                            class="form-control" style="display: none;"
                                                            onchange="fileValidator(this, 'loguser', 'userphoto',document.getElementById('imgPreviewUser'),'', '')">
                                                        <img src="images/userimage.png" id="imgPreviewUser"
                                                            alt="Upload here" class="d-flex" style="max-width: 100px;">
                                                    </div>
                                                    <div class="col-3 text-center">
                                                        <button class="btn btn-outline-warning" type="button"
                                                            onclick="imgUser.click();"><i
                                                                class="fa-regular fa-pen-to-square"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- End User Photo -->

                                                <!-- Start UserName -->
                                                <div class="row mt-2">
                                                    <label for="txtuserName" class="form-label col-4 fw-bold">User ID
                                                    </label>
                                                    <div class="col-5">
                                                        <input type="text" id="txtuserName" class="form-control"
                                                            placeholder="User Name" readonly disabled
                                                            onkeyup="txtValidator(this,'^([a-z][a-z0-9]{7})$', 'loguser', 'username')">
                                                    </div>
                                                    <div class="col text-center">
                                                        <button class="btn btn-outline-warning" type="button"
                                                            onclick="txtuserName.removeAttribute('readonly'); txtuserName.removeAttribute('disabled');"><i
                                                                class="fa-regular fa-pen-to-square"></i></button>
                                                    </div>
                                                </div>
                                                <!-- End UserName -->

                                                <!-- Start Password -->
                                                <div class="row mt-2">
                                                    <label for="txtPwd" class="form-label col-4 fw-bold">Password
                                                    </label>
                                                    <div class="col-5">
                                                        <!-- Old password -->
                                                        <input type="password" id="txtPwd" class="form-control mb-2"
                                                            placeholder="Old Password" readonly disabled
                                                            onkeyup="txtValidator(this,'^[a-zA-Z0-9@]{6,20}$', 'loguser', 'oldpassword')">

                                                        <!-- New password -->
                                                        <input type="password" id="txtNewPwd" class="form-control mb-2"
                                                            placeholder="Enter New Password"
                                                            onkeyup="txtValidator(this,'^[a-zA-Z0-9@]{6,20}$', 'loguser', 'newpassword')">

                                                        <input type="password" id="txtReNewPwd"
                                                            class="form-control mb-2"
                                                            placeholder="Re Enter New Password"
                                                            onkeyup="pswdValidator()">
                                                    </div>
                                                    <div class="col text-center">
                                                        <button class="btn btn-outline-warning" type="button"
                                                            onclick="txtPwd.removeAttribute('readonly'); txtPwd.removeAttribute('disabled');"><i
                                                                class="fa-regular fa-pen-to-square"></i></button>
                                                    </div>
                                                </div>
                                                <!-- End Password -->

                                                <!-- Start Email -->
                                                <div class="row mt-3">
                                                    <label for="txtEmail" class="form-label col-4 fw-bold">Email
                                                    </label>
                                                    <div class="col-5">
                                                        <input type="email" class="form-control col" id="txtEmail"
                                                            placeholder="Email" readonly disabled
                                                            onkeyup="txtValidator(this,'^[a-zA-Z0-9\\%]{6,20}[@][a-z]{4,10}[.][a-z]{2,3}$', 'loguser', 'email')">
                                                    </div>
                                                    <div class="col text-center">
                                                        <button class="btn btn-outline-warning" type="button"
                                                            onclick="txtEmail.removeAttribute('readonly'); txtEmail.removeAttribute('disabled');"><i
                                                                class="fa-regular fa-pen-to-square"></i></button>
                                                    </div>
                                                </div>
                                                <!-- End Email -->

                                                <!-- Make Buttons -->
                                                <div class="row mt-3 p-1">
                                                    <div class="col text-end">
                                                        <button type="button" class="btn btn-outline-success"
                                                            onclick="buttonUserProfileSubmit()">Save</button>
                                                    </div>
                                                </div>
                                                <!-- End Buttons -->
                                            </form>
                                        </div>
                                    </div>
                                    <!-- End form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="uIControllers/userEdit.js"></script>

        <div th:replace="~{footer :: footerFragment}"></div>
</body>

</html>