<head th:fragment="headerFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <!-- link image -->
    <link rel="icon" href="images/Bando.png">
    <!--link common css files-->
    <link rel="stylesheet" href="css/common.css">
    <!-- link css -->
    <link rel="stylesheet" href="css/dashboard.css">
    <!-- link bs5 css -->
    <link rel="stylesheet" href="bootstrap-5.2.3/css/bootstrap.min.css">
    <!-- link bs5 js files -->
    <script src="bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <!-- link jquery file-->
    <script src="jquery-3.7.1.min.js"></script>
    <!-- link data table file-->
    <script src="dataTables/datatables.js"></script>
    <link rel="stylesheet" href="dataTables/datatables.css">

    <!-- link icon files -->
    <link rel="stylesheet" href="fontawesome-free-6.6.0-web/css/all.min.css">
    <!-- link sweetalert files -->
    <script src="sweetalert2-11.17.2/package/dist/sweetalert2.all.min.js"></script>

    <!-- add logged user photo -->
    <script th:inline="javascript">
        window.addEventListener("load", () => {
            // string ekk wdyt ena photo eka allegnnewa
            // let loggedUserPhoto = /*[[${loggeduserphoto}]]*/'${loggeduserphoto}';
            let loggedUserPhoto = /*[[${loggeduserphoto}]]*/ null;
            if (loggedUserPhoto != null) {
                imgLoggedUser.src = atob(loggedUserPhoto);
            }
        });
    </script>
</head>