<!-- Start Sidebar -->
<aside id="sidebar" th:fragment="sidebarFragment">
    <!--Start Dashboard head -->
    <!-- Start Navbar -->
    <nav class="navbar fixed-top" th:fragment="topNavbarFragment">
        <div class="container-fluid d-flex">
            <div>
                <button id="toggle-btn" type="button">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <!-- <div class="sidebar-menu">
                <a href="#" id="menu">Menu</a>
            </div> -->
                <a class="navbar-brand" href="/dashboard">
                    <img src="images/bando1.png" alt="Bando-city-hotel">
                </a>
            </div>

            <div class="ms-5 flex-fill">
                <h2 class="d-inline" style="color: sienna;"> Hi.. </h2>
                <span class="fw-bold" style="color: sienna;" th:text="${loggedempname}"></span>
            </div>

            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form> -->

            <!-- Start Profile button -->
            <div class="d-flex flex-row">
                <button class="btn me-2" type="button" id="btnAlert">
                    <i class="fa-solid fa-bell"></i>
                </button>

                <div class="dropdown">
                    <button class="btn dropdown-toggle" id="btnuser" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <!-- img eka access kale header eka athule script tag eka athule javascript use krela -->
                        <img src="images/userimage.png" id="imgLoggedUser" class="rounded-circle"
                            style="max-width: 30px; max-height: 30px;">

                        <!--##  UI ehekata attribute ekak set kraddi eka thymeleafe & javascript walin access krannath puluwn ##-->
                        <span th:text="${loggedusername}">Profile</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/editUser">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Profile button -->
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Start Sidebar -->
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="/dashboard" class="sidebar-link">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>
        </li>

        <!-- Customer -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#customer"
                aria-expanded="false" aria-controls="customer">
                <i class="fa-solid fa-hands-holding-child"></i>
                <span>Customer</span>
            </a>
            <ul id="customer" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/customer" class="sidebar-link">Customer</a>
                </li>
                <li class="sidebar-item">
                    <a href="/order" class="sidebar-link">Orders</a>
                </li>
                <li class="sidebar-item">
                    <a href="/kitchen" class="sidebar-link">Kitchen</a>
                </li>
                <li class="sidebar-item">
                    <a href="/orderpayment" class="sidebar-link">Order Payments</a>
                </li>
            </ul>
        </li>

        <!-- Supplier -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#supplier"
                aria-expanded="false" aria-controls="supplier">
                <i class="fa-solid fa-truck"></i>
                <span>Supplier</span>
            </a>
            <ul id="supplier" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/supplier" class="sidebar-link">Supplier</a>
                </li>
                <li class="sidebar-item">
                    <a href="/supplierorder" class="sidebar-link">Order</a>
                </li>
                <li class="sidebar-item">
                    <a href="/grn" class="sidebar-link">GRN</a>
                </li>
                <li class="sidebar-item">
                    <a href="/supplierpayment" class="sidebar-link">Payment</a>
                </li>
            </ul>
        </li>

        <!-- Submenu & Menu -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#items"
                aria-expanded="false" aria-controls="items">
                <i class="fa-solid fa-utensils"></i>
                <span>Items</span>
            </a>
            <ul id="items" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/submenu" class="sidebar-link">Submenu</a>
                </li>
                <li class="sidebar-item">
                    <a href="/menuitems" class="sidebar-link">Menu Items</a>
                </li>
                <li class="sidebar-item">
                    <a href="/ingredient" class="sidebar-link">Ingredients</a>
                </li>
            </ul>
        </li>

        <!-- Inventory -->
        <li class="sidebar-item">
            <a href="/inventory" class="sidebar-link">
                <i class="fa-solid fa-store"></i>
                <span>Inventory</span>
            </a>
        </li>

        <!-- Garbage Remove -->
        <li class="sidebar-item">
            <a href="/garbageremove" class="sidebar-link">
                <i class="fa-solid fa-recycle"></i>
                <span>Garbage Remove</span>
            </a>
        </li>

        <!-- Table & Vehicle -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#extra"
                aria-expanded="false" aria-controls="extra">
                <i class="fa-solid fa-puzzle-piece"></i>
                <span>Table & Vehicle</span>
            </a>
            <ul id="extra" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/tables" class="sidebar-link">Table</a>
                </li>
                <li class="sidebar-item">
                    <a href="/vehicle" class="sidebar-link">Vehicle</a>
                </li>
            </ul>
        </li>

        <!-- Administration -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#admin"
                aria-expanded="false" aria-controls="admin">
                <i class="fa-solid fa-user-tie"></i>
                <span>Administration</span>
            </a>
            <ul id="admin" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="Employee sidebar-item">
                    <a href="/employee" class="sidebar-link">Employee</a>
                </li>
                <li class="Privilege sidebar-item">
                    <a href="/privilege" class="sidebar-link">Privilege</a>
                </li>
                <li class="User sidebar-item">
                    <a href="/user" class="sidebar-link">User</a>
                </li>
            </ul>
        </li>

        <!-- Authentication -->
        <!-- <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
                aria-expanded="false" aria-controls="auth">
                <i class="fa-solid fa-file-shield"></i>
                <span>Authentication</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/editUser" class="sidebar-link">Edit Profile</a>
                </li>
            </ul>
        </li> -->

        <!-- Reports -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#reports"
                aria-expanded="false" aria-controls="reports">
                <i class="fa-solid fa-file-lines"></i>
                <span>Reports</span>
            </a>
            <ul id="reports" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/reportPayment" class="sidebar-link">Supplier Payment Report</a>
                </li>
                <li class="sidebar-item">
                    <a href="/reportSales" class="sidebar-link">GRN Report</a>
                </li>
                <li class="sidebar-item">
                    <a href="/reportPurchase" class="sidebar-link">Inventory Stock Report</a>
                </li>
                <li class="sidebar-item">
                    <a href="/reportCustomer" class="sidebar-link">Sales Summary Report</a>
                </li>
            </ul>
        </li>

        <!-- Multi items -->
        <!-- <li class="sidebar-item">
            <a href="/reports" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse"
                data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                <i class="fa-solid fa-list-check"></i>
                <span>Reports</span>
            </a>
            <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/ingredient" class="sidebar-link">Inventory</a>
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi-two"
                        aria-expanded="false" aria-controls="multi-two">
                        Inventory
                    </a>
                    <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                Link 1
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li> -->

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="fa fa-gears"></i>
                <span>Setting</span>
            </a>
        </li>
    </ul>

    <!-- Footer / Logout -->
    <div class="sidebar-footer">
        <a href="/logout" class="sidebar-link">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Log Out</span>
        </a>
    </div>

    <!-- End Sidebar -->
</aside>