<!DOCTYPE html>
<html lang="en">

<head th:replace="~{header :: headerFragment}"></head>

<body>
    <div class="wrapper">
        <!-- Navbar & Sidebar Start -->
        <aside th:replace="~{sidebar :: sidebarFragment}"></aside>
        <!-- Navbar & sidebar End -->

        <div class="main">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <div id="pageTitle"> Purchase Order Management </div>
                </div>
            </div>

            <!--Add buttons for modal-->
            <div class="row me-1">
                <div class="d-flex justify-content-md-end">
                    <button type="button" class="btn m-2" id="btnModal" data-bs-toggle="modal"
                        data-bs-target="#modalSupplierOrder" aria-controls="modalSupplierOrder">
                        <i class="fa-solid fa-plus"></i> Add Purchase Order </button>
                </div>
            </div>

            <div class="row table justify-content-center m-1 p-1">
                <!-- Start Table -->
                <div class="col">
                    <table class="tablet table-bordered" id="tableSupplierOrder">
                        <thead>
                            <tr id="tablehead">
                                <th> # </th>
                                <th> Order No. </th>
                                <th> Supplier </th>
                                <th> Required Date </th>
                                <th> Ordered Ingredients </th>
                                <th> Total Amount </th>
                                <th> Order Status </th>
                            </tr>
                        </thead>
                        <tbody class="tableBody" id="tBodySupplierOrder">
                            <tr>
                                <td> 1 </td>
                                <td> Keels Super </td>
                                <td> 0715944275 </td>
                                <td> keelsSuper@gmail.com </td>
                                <td> Food </td>
                                <td> sampath bank </td>
                                <td> Active </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End of Table -->
            </div>

            <!-- Start modal-->
            <div class="modal" id="modalSupplierOrder">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container">
                                <h4 class="modal-title" id="modalSupplierOrderLabel">Purchase Order Form</h4>
                            </div>
                            <button type="button" class="btn-close" onclick="buttonModalClose()"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body crdbdy">
                                            <!-- Start Form -->
                                            <form id="formSupplierOrder" onsubmit="return false">
                                                <div class="row mt-1">
                                                    <!-- Start Main form -->
                                                    <div class="col-4">
                                                        <!--Start Supplier -->
                                                        <div class="row mt-2">
                                                            <label for="SelectSupplier"
                                                                class="form-lable fw-bold">Select
                                                                Supplier <span class="text-danger">*</span></label>
                                                            <div class="col">
                                                                <select id="SelectSupplier" class="form-select"
                                                                    onchange="selectDynamicElementValidator(this, 'supplierorder', 'supplier_id'); filteringredientsbySupplier();">
                                                                    <option value="" selected disabled>Select
                                                                        Supplier
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="form-text text-end">Select Supplier from
                                                                Dropdown</div>
                                                        </div>
                                                        <!-- End Supplier -->

                                                        <!-- Start Required Date -->
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <span onclick="dateRequired.focus()"
                                                                    class="form-lable col-3 fw-bold">Required Date
                                                                    <span class="text-danger">*</span>
                                                                </span>
                                                                <div class="col">
                                                                    <input type="date" class="form-control"
                                                                        id="dateRequired"
                                                                        placeholder="Enter Required Date" required
                                                                        onkeydown="return false"
                                                                        onchange="dateElementValidator(this, 'supplierorder', 'daterequired')">
                                                                </div>
                                                            </div>
                                                            <div class="form-text text-end">Select Required Date
                                                            </div>
                                                        </div>
                                                        <!-- End Required Date -->

                                                        <!--Start Total Amount -->
                                                        <div class="row mt-2">
                                                            <label for="txtTotalAmount" class="form-lable fw-bold">Total
                                                                Amount <span class="text-danger">*</span></label>
                                                            <div class="col">
                                                                <input type="text"
                                                                    onkeyup="txtValidator(txtTotalAmount,'^[1-9][0-9]{1,4}[.][0-9]{2}$', 'supplierorder', 'totalamount')"
                                                                    class="form-control" id="txtTotalAmount"
                                                                    placeholder="Total Amount will display here"
                                                                    required>
                                                            </div>
                                                        </div>
                                                        <!-- End Total Amount -->

                                                        <!-- Start Order Status -->
                                                        <div class="row mt-3">
                                                            <lable for="supplyorderStatus" class="form-lable fw-bold">
                                                                Status <span class="text-danger">*</span>
                                                            </lable>
                                                            <div class="col">
                                                                <select id="supplyorderStatus" class="form-select"
                                                                    onchange="selectDynamicElementValidator(this, 'supplierorder', 'supplyorderstatus_id')">
                                                                    <option value="" selected disabled>Select Status
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="form-text text-end">Select Status from
                                                                Dropdown</div>
                                                        </div>
                                                        <!-- End Order Status -->

                                                        <!-- Start Note -->
                                                        <div class="row mt-2">
                                                            <label for="txtNote" class="form-lable fw-bold">Notes
                                                                <span class="text-danger"></span></label>
                                                            <div class="col">
                                                                <textarea id="txtNote" class="form-control"
                                                                    onkeyup="supplierorder.note = this.value; this.style.border = 'solid 2px green'"
                                                                    placeholder="Enter Notes"></textarea>
                                                            </div>
                                                        </div>
                                                        <!-- End Note -->
                                                    </div>
                                                    <!-- End Main form -->

                                                    <!-- Start Inner Form & Table -->
                                                    <div class="col-8">
                                                        <!-- Start Inner Form -->
                                                        <div class="row justify-content-md-center">
                                                            <div class="col">
                                                                <div class="card">
                                                                    <div class="card-body crdbdy">
                                                                        <form id="innerFormSupplierOrder"
                                                                            onsubmit="return false">
                                                                            <!--Ingredient / unit Price -->
                                                                            <div class="row">
                                                                                <!-- Start Ingredient -->
                                                                                <div class="col">
                                                                                    <label for="SelectIngredints"
                                                                                        class="form-lable fw-bold">Select
                                                                                        Ingredients
                                                                                        <span
                                                                                            class="text-danger">*</span></label>
                                                                                    <div class="col">
                                                                                        <select class="form-select"
                                                                                            id="SelectIngredints"
                                                                                            onchange="selectDynamicElementValidator(this, 'supplierorderHasIngredient', 'ingredient_id'); checkIngredientExt();">
                                                                                            <option value="" selected
                                                                                                disabled>
                                                                                                Select
                                                                                                Ingredients
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="form-text text-end">
                                                                                        Select Ingredients from Dropdown
                                                                                    </div>
                                                                                </div>
                                                                                <!-- End Ingredient -->

                                                                                <!-- Start Unit Price -->
                                                                                <div class="col">
                                                                                    <label for="txtPrice"
                                                                                        class="form-lable fw-bold">Purchase
                                                                                        Price
                                                                                        <span
                                                                                            class="text-danger">*</span></label>
                                                                                    <input type="text"
                                                                                        onkeyup="txtValidator(txtPrice,'^[1-9][0-9]{1,6}[.][0-9]{2}$', 'supplierorderHasIngredient', 'price')"
                                                                                        class="form-control"
                                                                                        id="txtPrice"
                                                                                        placeholder="Unit Price will appear here"
                                                                                        required>
                                                                                </div>
                                                                                <!-- End Unit Price -->
                                                                            </div>

                                                                            <!-- Quantity / Line price -->
                                                                            <div class="row mt-3">
                                                                                <!-- Start Quantity -->
                                                                                <div class="col">
                                                                                    <label for="txtQuantity"
                                                                                        class="form-lable fw-bold">Quantity
                                                                                        <span
                                                                                            class="text-danger">*</span></label>
                                                                                    <input type="text"
                                                                                        onkeyup="txtValidator(txtQuantity,'^[1-9][0-9]{0,4}[.]{0,1}[0-9]{0,3}$', 'supplierorderHasIngredient', 'quantity'), generateLineprice()"
                                                                                        class="form-control"
                                                                                        id="txtQuantity"
                                                                                        placeholder="Enter Quantity"
                                                                                        required>
                                                                                    <div class="form-text text-end">
                                                                                        Enter Quantity
                                                                                    </div>
                                                                                </div>
                                                                                <!-- End Quantity -->

                                                                                <!-- Start Line Price -->
                                                                                <div class="col">
                                                                                    <label for="txtLinePrice"
                                                                                        class="form-lable fw-bold">Line
                                                                                        Amount
                                                                                        <span
                                                                                            class="text-danger">*</span></label>
                                                                                    <input type="text"
                                                                                        onkeyup="txtValidator(txtLinePrice,'^[1-9][0-9]{1,6}[.][0-9]{2}$', 'supplierorderHasIngredient', 'lineprice')"
                                                                                        class="form-control"
                                                                                        id="txtLinePrice"
                                                                                        placeholder="Line Amount"
                                                                                        required>
                                                                                </div>
                                                                                <!-- End Line Price -->
                                                                            </div>

                                                                            <!-- Make Buttons -->
                                                                            <div class="row mt-4 d-flex">
                                                                                <div class="col text-start">
                                                                                    <button
                                                                                        class="btn btn-outline-danger"
                                                                                        id="btnInnerClr" type="button"
                                                                                        onclick="buttonInnerFormClear()">Clear
                                                                                        <i
                                                                                            class="fa-solid fa-arrows-rotate"></i></button>
                                                                                </div>
                                                                                <div class="col text-end">
                                                                                    <button
                                                                                        class="btn btn-outline-warning"
                                                                                        id="btnInnerUpdate"
                                                                                        type="button"
                                                                                        onclick="buttonSupplierOrderIngredientUpdate()">Update
                                                                                        <i
                                                                                            class="fa-regular fa-pen-to-square"></i></button>
                                                                                    <button
                                                                                        class="btn btn-outline-success"
                                                                                        id="btnInnerSubmit"
                                                                                        type="button"
                                                                                        onclick="buttonSupplierOrderIngredientSubmit()">
                                                                                        Submit
                                                                                        <i
                                                                                            class="fa-solid fa-plus"></i></button>
                                                                                </div>
                                                                            </div>
                                                                            <!-- End Buttons -->
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Inner Form -->
                                                        <hr>
                                                        <!-- Start inner form Table -->
                                                        <div class="row mt-1">
                                                            <div class="col">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <table class="table tablet table-bordered"
                                                                            id="tableSupplyOrderhasIngredient">
                                                                            <thead>
                                                                                <tr id="tablehead">
                                                                                    <th> # </th>
                                                                                    <th> Ingredients </th>
                                                                                    <th> Unit Price </th>
                                                                                    <th> Quantity </th>
                                                                                    <th> Line Price </th>
                                                                                    <th> Modify </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="tableBody"
                                                                                id="tBodySupplyOrderhasIngredient">
                                                                                <tr>
                                                                                    <td> 1 </td>
                                                                                    <td> Onion </td>
                                                                                    <td> 250.00 </td>
                                                                                    <td> 30kg </td>
                                                                                    <td> 7500.00 </td>
                                                                                </tr>
                                                                            </tbody>
                                                                            <tfoot id="tfootSupplyOrderhasIngredient">
                                                                                <tr>
                                                                                    <td colspan="4"
                                                                                        class="text-start fw-bold">
                                                                                        Total
                                                                                        Amount</td>
                                                                                    <td>7500.00</td>
                                                                                </tr>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Inner form Table -->
                                                    </div>
                                                    <!-- End Inner Form & Table -->
                                                </div>

                                                <!-- Make Buttons -->
                                                <div class="row mt-4 d-flex">
                                                    <div class="col-8 text-start">
                                                        <button class="btn btn-danger btninput" type="button"
                                                            id="btnclr" onclick="buttonSupplierOrderClear()">Clear
                                                            <i class="fa-solid fa-arrows-rotate"></i></button>
                                                    </div>
                                                    <div class="col text-end">
                                                        <button class="btn btn-warning btninput" type="button"
                                                            onclick="buttonSupplierOrderUpdate()" id="btnupdate">Update
                                                            <i class="fa-regular fa-pen-to-square"></i></button>
                                                        <button class="btn btn-success btninput" type="submit"
                                                            onclick="buttonSupplierOrderSubmit()" id="btnsubmit">
                                                            Submit
                                                            <i class="fa-solid fa-plus"></i></button>
                                                    </div>
                                                </div>
                                                <!-- End Buttons -->

                                                <!-- Make print/delete buttons-->
                                                <div class="row mt-3 text-end">
                                                    <div class="d-none me-1" id="divModifybtn">
                                                        <button class="button me-2 fw-bold" id="btnprint" type="button"
                                                            onclick="supplierOrderPrint(window['editob'], window['editrowno'])"><i
                                                                class="fa-solid fa-print icon"></i><br>
                                                            Print</button>
                                                        <button class="button me-2 fw-bold" id="btndelete" type="button"
                                                            onclick="supplierOrderDelete(window['editob'], window['editrowno'])"><i
                                                                class="fa-solid fa-trash icon"></i><br>
                                                            Delete</button>
                                                    </div>
                                                </div>
                                                <!-- End print/delete buttons-->
                                            </form>
                                            <!-- End form -->
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End modal-->
        </div>
    </div>
    <script src="uIControllers/supplierorder.js"></script>
</body>

<body th:replace="~{footer :: footerFragment}"></body>

</html>